{% form_theme form 'form/subsaccountField.html.twig' %} 
{{ form_start(form, {'action': path('register_user')}) }} 
{{ form_errors(form) }}
<div class="userform">
    <div class="userform_smallbox">
    {% for flashMessage in app.session.flashbag.get('errora') %}
        <p class="userform_flash">{{ flashMessage }}</p> 
    {% endfor %} 
        <p class="userform_asterix-reminder">Champ obligatoire : <span class="userform_asterix">*</span></p>
        <p class="userform_titleform">VOS IDENTIFIANTS</p>
        <div class="userform_row">
            <div class="userform_label">
            {{ form_label(form.email) }}
        </div>
            {{ form_errors(form.email) }}
            <div class="userform_email">
                {{ form_widget(form.email,{ 'attr': {'class': 'js-email'} }) }}
                <div id="js-emailspinner">      
                </div>
            </div> 
        </div>
        {{ form_errors(form.password.first) }} 
        {{ form_row(form.password.first) }}
        <div class="userform_row">
            <div class="userform_label">
                <strong>{{ form_label(form.password.second) }}</strong>
            </div>
            {{ form_errors(form.password.second) }} 
            {{ form_widget(form.password.second) }}
        </div>
    </div>
</div>
<div class="userform">
    <div class="userform_smallbox">
        <p class="userform_title">VOS INFORMATIONS PERSONELLES</p>
        {{ form_row(form.civilite) }} 
        {{ form_row(form.prenom) }} 
        {{ form_row(form.nom) }}
        <div class="userform_row">
            <div class="userform_label">
                {{ form_label(form.birthdate) }}
            </div>
            {{ form_errors(form.birthdate) }} 
            {{ form_widget(form.birthdate) }}
        </div>
    </div>
</div>
<div class="userform">
    <div class="userform_smallbox">
        <p class="userform_title">VOTRE ADRESSE</p>
        {{ form_row(form.adresses) }}
    </div>
</div>
<div class="userform">
    <div class="userform_smallbox">
        {{ form_end(form) }}
    </div>
</div>
