{% extends "base.html.twig" %}

{% block body %}

<div class="section-first">
	<div class="container-small">
		<div class="account">
			<div class="account-header">
				<h1 class="account-title">Mon compte</h1>			
			</div>
			<div class="account-welcome">
				<p >Bienvenue sur votre page d’acceuil.<br>
                    Vous pouvez gérer vos informations personnelles,<br> 
                    vos commandes ainsi que vos adresses.
                </p>		
            </div>
            <div class="account-content">
                <section class="account-sidebar">
                    <nav>
                        <ul>
                            <li><button><span class="account-historique"></span>Historique et détails de mes commandes</button></li>
                            <li><button><span class="account-adresses"></span>Mes adresses de livraison</button></li>
                            <li><button><span class="account-informations"></span>Mes informations personelles</button></li>
                            <li><button><span class="account-fidelite"></span>Mes points de fidélité</button></li>
                            <li><button><span class="account-parrainage"></span>Parrainage</button></li>
                        </ul>
                    </nav>
                </section>
                <section class="account_infobox">
                    <article>
                        <h2 class="section_title-green">Mes commandes</h2>
                        <div>
                            <table class="account-table">
                                <thead>
                                    <tr>
                                        <th class="account-table_reference">Référence</th>
                                        <th>Date de commande</th>
                                        <th>Articles</th>
                                        <th>État de la commande</th>
                                        <th>Coût</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for commande in commandes %} <!-- Création des lignes du tableau contenant les produits -->
                                    <tr>
                                        <th><button class="account-table_buttonref">{{ commande.reference }}</button></th>
                                        <th>{{ commande.date|localizeddate('medium', 'none', 'fr') }}</th>
                                        <th>{{ commande.produit|length }}</th>
                                        <th>En cours</th>
                                        <th><span class='js-prixtotal'>{{ commande.prix }}</span> €</th>			            		
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% for commande in commandes %} <!-- Création des lignes du tableau contenant les produits -->
                        <table class="account-table account-table-hide account-reftable" id="js-account-refbutton-{{commande.reference}}">
                            <caption>Détails de la commande {{commande.reference}}</caption>
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Quantité</th>
                                    <th>Prix</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for liste in commande.produit %}
                                <tr>
                                   <th>{{ liste.titre }}</th>
                                   <th>{{ liste.quantite }}</th>
                                   <th>{{ liste.prix }} €</th>		            		
                               </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}						
                    </article>
                    <article></article>
                    <article></article>
                    <article></article>
                    <article></article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
