{% extends "base.html.twig" %}

{% block body %}

<div class="accueil">
    <section class="banner">
        <div class="banner-container">
            <div class="banner-title">
                <h1 class="banner-title_title">CUISINEZ COMME UN CHEF !</h1>
                <p class="banner-title_description">les produits de notre région</p>
            </div>
            <a href="{{ path('paniers') }}" class="banner_button orange">VOIR NOS PANIERS</a>
        </div>
    </section>
    <section class="howitworks">
        <div class="container-small">
            <div class="section-title">
                <h2 class="section_title-green">COMMENT CA MARCHE</h2>
                <p class="section_description">Le panier à la semaine pour concocter de délicieux repas, livré directement chez soi !</p>
            </div>
            <div>
                <div class="afterarrow howitworks_box">
                    <span class="content-toque sprite-span"></span>
                    <p>Chaque semaine, nos chefs créent de nouvelles recettes pour réaliser 4 plats.</p>
                </div>
                <div class="afterarrow howitworks_box">
                    <span class="content-panier sprite-span"></span>
                    <p>Vous choisissez votre panier contenant des produits locaux et de saison</p>
                </div>
                <div class="afterarrow howitworks_box">
                    <span class="content-camion sprite-span"></span>
                    <p>Nous vous livrons à domicile</p>
                </div>
                <div class="howitworks_box">
                    <span class="content-assiette sprite-span"></span>
                    <p>Vous cuisinez un repas original. Comme un chef!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="home-slider">
        <div class="container-small">
            <div class="section-title">
                <h2 class="section_title-green">NOS MENUS</h2>
                <p class="section_description">Chaque semaine, nous créons de délicieuses recettes.</p>
            </div>
            <div id="slider_start">
                <nav id="slider_start_nav">
                    <ul class="bxslider">
                        <li><img src="{{ asset('img/plat/semaine/plat1.jpg') }}" title="Pétales de fleurs cristallisées" alt="Plat du jour Mon panier toqué"></li>
                        <li><img src="{{ asset('img/plat/semaine/plat2.jpg') }}" title="Riz épicé aux tomates et poivrons" alt="Plat du jour Mon panier toqué"></li>
                        <li><img src="{{ asset('img/plat/semaine/plat3.jpg') }}" title="Boeuf aux épinards et graines de courge" alt="Plat du jour Mon panier toqué"></li>
                        </ul>
                </nav>
                <div class="home-slider_buttonbox">
                    <a href="{{ path('menus') }}" class="home-slider_button white-button">VOIR NOS MENUS</a>
                    <a href="{{ path('paniers') }}" class="home-slider_button orange">VOIR NOS PANIERS</a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-blog">
        <div class="container-small">
            {% if liste_blog is not empty %}
            <div class="section-title">
                <h2 class="section_title-brown">LES DERNIERS ARTICLES DE NOTRE BLOG</h2>
            </div>
            <div class="home-blog_flexbox">
                {% for blog in liste_blog %}
                <article class="home-blog_article">
                    <h3 class="">{{ blog.titre }}</h3>
                    <small>Publié le <strong>{{ blog.date | localizeddate('medium', 'none', 'fr') }}</strong>
                        dans la rubrique <strong>{{ blog.rubriqueblog.nom }}</strong></small>
                    <p>{{ blog.article | truncate(145, false, ' (...)') }}</p>
                    <a href="">lire la suite</a>
                    <img src="{{ asset(blog.image) }}" alt="">
                </article>
                {% endfor %}                        
            </div>
            {% endif %}
        </div>        
    </section>
    <div class="home-flexbox">
        <div class="home-flexbox_box container-small">
            <section class="home-comments">
                <h2>NOS CLIENTS<br>
                    <small>témoignent</small>
                </h2>
                <div class="home-comments_box"><p>« Très pratique pour éviter les courses et toute la famille est contente ! Une nourriture
                    saine et je reprends plaisir à cuisiner comme un chef ! » <br></p>
                    <span class="comments-author">Marie (77450)</span><span class="content-stars-three sprite-span"></span>
                </div>
                <div class="home-comments_box"><p>« Vraiment sympa ! Pratique, rapide à préparer je reprends plaisir à cuisiner ! Les produits
                    du terroirs sont tops ! » <br></p>
                    <span class="comments-author">Nadia (75013)</span><span class="content-stars-four sprite-span"></span>
                </div>
                <div class="home-comments_box"><p>« Au départ assez sceptique sur le coût ... mais après quelques semaines, je ne regrette
                    rien ! » <br></p>
                    <span class="comments-author">Charles (75004)</span><span class="content-stars-three sprite-span"></span>
                </div>
                <div class="home-comments_box">
                    <a href="#">Donnez-nous votre avis<span class="content-medium-arrow-white sprite-span"></span></a>
                </div>
            </section>
            <section class="engagements">
                <div class="section-title">
                    <h2 class="section_title-green">NOS ENGAGEMENTS</h2>
                    <p class="section_description">renouer avec les plaisirs gustatifs des produits de notre région !</p>
                </div>
                <img src="{{ asset('img/accueil/local.png') }}" alt="100% local Mon Panier Toqué" class="engagements_100">
                <div class="engagements_flexbox">
                    <div class="engagements_flexbox_box">
                        <p>NOS PRODUITS<br>Des ingrédients de qualité <br> et des recettes accessibles, <br>le tout livré chez vous pour<br> vous simplifier la vie.</p>
                        <a href="#">Lire la suite ></a>
                        <img src="{{ asset('img/accueil/panier_garni.png') }}" alt="Panier Garni Mon Panier Toqué">
                    </div>
                    <div class="engagements_flexbox_box">
                        <img src="{{ asset('img/accueil/producteur.png') }}" alt="Producteur Mon Panier Toqué">
                        <p>Des produits de <br> saison issus des <br> PRODUCTEURS locaux.</p>
                        <a href="#">Lire la suite ></a>
                    </div>
                    <div class="engagements_flexbox_box">
                        <p>Des recettes simples, <br> pour tous les goûts, <br> élaborées par NOS CHEFS.</p>
                        <a href="#">Lire la suite ></a>
                        <img src="{{ asset('img/accueil/chef.png') }}" alt="Chef Mon Panier Toqué">
                    </div>
                </div>
            </section>            
        </div>      
    </div>
</div>

{% endblock %}
