{% extends "base.html.twig" %}

{% block title %}Mon Panier Toqué - Récapitulatif de la commande{% endblock %

{% block body %}

    <section class="caddie section-first">
        <div class="container-small">
            <nav class="caddie-nav">
                <label for="caddie-nav-show" class="caddie-nav-show">Etapes de votre commande:</label>
                <input type="checkbox" id="caddie-nav-show">
                <ul class="caddie-nav_menu">
                    <li><a href="{{ path('cart')}}"><strong>1</strong> ma commande</a></li>
                    <li><a href="{{ path('cart_identification')}}"><strong>2</strong> identification</a></li>
                    <li><a href=""><strong>3</strong> livraison</a></li>
                    <li><a href=""><strong>4</strong> paiment</a></li>
                    <li><a href="{{ (app.user) ? path('cart_summary') : path('cart_identification')}}" class="opacity-none"><strong>5</strong> récapitulatif</a></li>
                </ul>
            </nav>
            <div class="caddie_box">
                <p class="caddie_tel">Besoin d’un conseil avant de finaliser votre commande ? appelez-nous : <strong>01 63 12 16 02</strong></p>
                <nav class="breadcrumb">
                    {{ knp_menu_render('breadcrumb',{'depth': 2,'currentAsLink':false}) }}
                </nav>
                <a href="{{path('paniers')}}" class="caddie_continue">{{ '<'|escape }} Poursuivre mes achats</a>
                <form action="{{ (app.user) ? path('addcommandes') : path('cart_identification') }}" class="caddie_validate">
                    <button type="submit" class="orange">PROCÉDER AU PAIEMENT</button>
                </form>
                <div class="caddie-table_box">
                    <table class="caddie-table table-striped">
                        <thead>
                            <tr>
                                <th class="caddie-table_photo"></th>
                                <th class="caddie-table_produit">PRODUITS(S)</th>
                                <th class="caddie-table_prix">PRIX UNITAIRE</th>
                                <th class="caddie-table_quantite">QUANTITé</th>
                                <th class="caddie-table_total">total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
							{% for article in articles %}

								<tr>
									<th><img src="{{ asset(article.photo)}}" alt="Caddie {{ article.titre }}"></th>
									<th>{{ article.titre }}</th>
									<th>{{ article.prix }} €</th>
									<th>{{ article.quantite }}</th>
									<th><span class='js-prixtotal form-{{ article.id }}'>{{ article.prix * article.quantite }}</span> €</th>
								</tr>

							{% endfor %}

						</tbody>
						<tfoot>
							<tr class="green_light">
								<th></th>
								<th></th>
								<th>Total produits TTC</th>
								<th></th>
								<th class="cart_prixtotal">{{ prix_total }} €</th>
							</tr>
							<tr class="green_dark">
								<th></th>
								<th></th>
								<th>Livraison</th>
								<th></th>
								<th class="cart_prixtotal"> €</th>
							</tr>
							<tr class="green_light">
								<th></th>
								<th  id="caddie_codereduc">
			            		</th>
			            		<th>TOTAL TTC</th>
			            		<th></th>
			            		<th>
			            		<strong class="cart_prixtotal">{{ prix_total }} €</strong>
			            		</th>
			        		</tr>
			    		</tfoot>
					</table>
                    <div class="caddie_recette">
                        <span >Je souhaite recevoir les recettes par email :</span>
                        <form>
                            <input type="radio" name="sex" value="male" checked>OUI
                            <input type="radio" name="sex" value="female">NON
                        </form>
                    </div>
                    <a href="{{path('paniers')}}" class="caddie_continue">{{ '<'|escape }} Poursuivre mes achats</a>
                    <div class="caddie_validate">
                        <form action="{{ path('addcommandes') }}" method="post">
							<button type="submit" class="orange">PROCÉDER AU PAIEMENT</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="engagements">
        <div class="container-small">
            <div class="section-title">
                <h2 class="section_title-green">NOS ENGAGEMENTS</h2>
                <p class="section_description">renouer avec les plaisirs gustatifs des produits de notre région !</p>
            </div>
            <img src="{{ asset('img/accueil/local.png') }}" alt="Garantie 100% local" class="engagements_100">
            <div class="engagements_flexbox">
                <div class="engagements_flexbox_box">
                    <p>NOS PRODUITS<br>Des ingrédients de qualité <br> et des recettes accessibles, <br>le tout livré chez vous pour<br> vous simplifier la vie.</p>
                    <a href="#">Lire la suite ></a>
                    <img src="{{ asset('img/accueil/panier_garni.png') }}" alt="Panier engagement">
                </div>
                <div class="engagements_flexbox_box">
                    <img src="{{ asset('img/accueil/producteur.png') }}" alt="Producteur engagement">
                    <p>Des produits de <br> saison issus des <br> PRODUCTEURS locaux.</p>
                    <a href="#">Lire la suite ></a>
                </div>
                <div class="engagements_flexbox_box">
                    <p>Des recettes simples, <br> pour tous les goûts, <br> élaborées par NOS CHEFS.</p>
                    <a href="#">Lire la suite ></a>
                    <img src="{{ asset('img/accueil/chef.png') }}" alt="Chef engagement">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
