{% extends "base.html.twig" %}

{% block title %}Mon Panier Toqué - Identification{% endblock %}

{% block body %}

<section class="caddie section-first">
  <div class="container-small">
    <nav class="caddie-nav">
        <label for="caddie-nav-show" class="caddie-nav-show">Etapes de votre commande:</label>
        <input type="checkbox" id="caddie-nav-show">
        <ul class="caddie-nav_menu">
            <li><a href="{{ path('cart')}}"><strong>1</strong> ma commande</a></li>
            <li><a href="{{ path('cart_identification')}}" class="opacity-none"><strong>2</strong> identification</a></li>
            <li><a href=""><strong>3</strong> livraison</a></li>
            <li><a href=""><strong>4</strong> paiment</a></li>
            <li><a href="{{ (app.user) ? path('cart_summary') : path('cart_identification')}}" ><strong>5</strong> récapitulatif</a></li>
        </ul>
    </nav>
    <div class="caddie_box">
        <p class="caddie_tel">Besoin d’un conseil avant de finaliser votre commande ? appelez-nous : <strong>01 63 12 16 02</strong></p>
        <nav class="breadcrumb">
            {{ knp_menu_render('breadcrumb',{'depth': 2,'currentAsLink':false}) }}
        </nav>
    </div>
    <h1 class="section_title-green">CONNEXION</h1>
    {{ include ("form/loginForm.html.twig") }}
    <h2 class="section_title-green">ENREGISTREMENT</h2>
    {{ include ("form/subsaccountForm.html.twig") }}
  </div>
</section>

{% endblock %}
