{% extends "base.html.twig" %}

{% block body %}

	<section class="section-first-white">
		<div class="container-small">
			<div class="section-title">
			    <h1 class="section_title-green">NOS MENUS</h1>
			</div>
			<nav class="menu-slider">	
				<ul class="bxslider ">
					{% for plat in liste_classique %}
				    	<li>
							<img src="{{ asset(plat.photo)}}" alt="" class="menu-slider_photo">
							<div class="menu-slider_content">			
								<h3 class="">Menu classique semaine du {{ menu_classique.date | date('d')}}</h3>
								<h4 class="menu-slider_title">Plat {{ loop.index }} : {{ plat.titre }}</h4>
						    	<div class="menu-slider_infos">
						    		<div class="menu-slider_info">
							    		<span class="content-horloge sprite-span"></span>
							    		<span>Temps de préparation</br>{{ plat.temps }}</span>
						    		</div>
						    		<div class="menu-slider_info">
							    		<div class="menu-slider_trait"></div>
							    		<span class="content-difficulte sprite-span"></span>
							    		<span>Difficulté</br>{{ plat.difficulte }}</span>
							    	</div>
							    	<div class="menu-slider_info">
							    		<div class="menu-slider_trait"></div>
							    		<span class="content-consistance sprite-span"></span>
							    		<span>{{ plat.consistance }}</span>
							    	</div>
						    		<div class="menu-slider_trait"></div>
						    		<span class="content-aliment-classique sprite-span"></span>
					    		</div>
						    	<p class="menu-slider_accroche">{{ plat.accroche }}</p>	
						    	<p class="menu-slider_description">{{ plat.description }}</p>
						    	<p class="menu-slider_description"> {{ plat.plus }}</p>
						    	<p class="menu-slider_salt"><span class="content-sel sprite-span"></span>Prévoir du sel, du poivre et de l’huile dans votre placard</p>
						    	<a href="{{ path('panier', {'slug' : 'classique'}) }}" class="menu-slider_discovery orange">découvrir notre panier classique</a>
							</div>			    	
				    	</li>
				    {% endfor %}		    	
				</ul>	    		   
			</nav>
		</div>
	</section>	
	<section class="menu-nextweek">
		<div class="container-small">
			<div class="section-title">
			    <h2 class="section_title-green">Les semaines à venir</h2>
			</div>	    		   
			<div class="menu-nextweek_plat">
				<h3>Semaine du 15 au 21 juin</h3>
		    	<img src="{{ asset('img/menus/semaine1.jpg')}}" alt="" class="menu-nextweek_photo">
		    	<p class="menu-nextweek_title">Tarte saumon et légumes</p>
		    	<a href="#" class="menu-nextweek_link">voir le menu<span class="content-arrow-next sprite-span"></span></a>		
			</div>
			<div class="menu-nextweek_plat">
				<h3>Semaine du 22 au 28 juin</h3>
		    	<img src="{{ asset('img/menus/semaine2.jpg')}}" alt="" class="menu-nextweek_photo">
		    	<p class="menu-nextweek_title">Brochettes poulet-carottes</p>
		    	<a href="#" class="menu-nextweek_link">voir le menu<span class="content-arrow-next sprite-span"></span></a>
			</div>
		</div>
	</section>
	<section class="section-title">
		<div class="container-small">
            <nav class="menu-slider">   
                <ul class="bxslider ">
                    {% for plat in liste_vegan %}
                        <li>
                            <img src="{{ asset(plat.photo)}}" alt="" class="menu-slider_photo">
                            <div class="menu-slider_content">           
                                <h3 class="">Menu végétarien semaine du 7 Juin</h3>
                                <h4 class="menu-slider_title">Plat {{ loop.index }} : {{ plat.titre }}</h4>
                                <div class="menu-slider_infos">
                                    <div class="menu-slider_info">
                                        <span class="content-horloge sprite-span"></span>
                                        <span>Temps de préparation</br>{{ plat.temps }}</span>
                                    </div>
                                    <div class="menu-slider_info">
                                        <div class="menu-slider_trait"></div>
                                        <span class="content-difficulte sprite-span"></span>
                                        <span>Difficulté</br>{{ plat.difficulte }}</span>
                                    </div>
                                    <div class="menu-slider_info">
                                        <div class="menu-slider_trait"></div>
                                        <span class="content-consistance sprite-span"></span>
                                        <span>{{ plat.consistance }}</span>
                                    </div>
                                    <div class="menu-slider_trait"></div>
                                    <span class="content-aliment-classique sprite-span"></span>
                                </div>
                                <p class="menu-slider_accroche">{{ plat.accroche }}</p> 
                                <p class="menu-slider_description">{{ plat.description }}</p>
                                <p class="menu-slider_description"> {{ plat.plus }}</p>
                                <p class="menu-slider_salt"><span class="content-sel sprite-span"></span>Prévoir du sel, du poivre et de l’huile dans votre placard</p>
                                <a href="{{ path('panier', {'slug' : 'végétarien'}) }}" class="menu-slider_discovery orange">découvrir notre panier végétarien</a>        
                            </div>                  
                        </li>
                    {% endfor %}                
                </ul>                  
            </nav>
		</div>
	</section>	
    <section class="menu-nextweek">
        <div class="container-small">
            <div class="section-title">
                <h2 class="section_title-green">Les semaines à venir</h2>
            </div>                 
            <div class="menu-nextweek_plat">
                <h3>Semaine du 15 au 21 juin</h3>
                <img src="{{ asset('img/menus/paella.jpg')}}" alt="" class="menu-nextweek_photo">
                <p class="menu-nextweek_title">Paëlla végétarienne</p>
                <a href="#" class="menu-nextweek_link">voir le menu<span class="content-arrow-next sprite-span"></span></a>     
            </div>
            <div class="menu-nextweek_plat">
                <h3>Semaine du 22 au 28 juin</h3>
                <img src="{{ asset('img/menus/feuillete.jpg')}}" alt="" class="menu-nextweek_photo">
                <p class="menu-nextweek_title">Feuilleté de légumes</p>
                <a href="#" class="menu-nextweek_link">voir le menu<span class="content-arrow-next sprite-span"></span></a>
            </div>
        </div>
    </section>
{% endblock %}
