{% extends "base.html.twig" %}

{% block body %}
	<section class="menu-soir section-first">
		<div class="container-small">
			<div class="section-title">
			    <h1 class="section_title-green">NOS PANIERS MENUS DU SOIR</h1>
			    <p class="section_description">Pour vous simplifier la vie !</p>
			</div>
			<nav class="breadcrumb">
				{{ knp_menu_render('breadcrumb',{'depth': 2,'currentAsLink':false}) }}
			</nav>
		    <div class="menu-flexbox">	    		   
			    <article class="menu-soir_article">
			    	<h3>Classique</h3>
			    	<img src="{{ asset('img/menus/menu_classique.png')}}" alt="Panier Classique">
			    	<span class="content-detail-classique sprite-span"></span>
			    	<div class="panier-prix_box">
			    		<span><strong>2</strong> pers. (59 €) | <strong>4</strong> pers. (89 €)<br><strong>4</strong> repas / semaine</span>
                        <a href="{{ path('panier', {'slug' : 'classique'}) }}" class="menu_button-box orange">découvrir ce panier</a>
			    	</div>
			    </article>
			    <article class="menu-soir_article">
			    	<h3>Végétarien</h3>
			    	<img src="{{ asset('img/menus/menu_veg.png')}}" alt="Panier Végétarien">
			    	<span class="content-detail-vegetarien sprite-span"></span>
			    	<div class="panier-prix_box">
			    		<span><strong>2</strong> pers. (59 €) | <strong>4</strong> pers. (89 €) <br><strong>4</strong> repas / semaine</span>
                        <a href="{{ path('panier', {'slug' : 'végétarien'}) }}" class="menu_button-box orange">découvrir ce panier</a>
			    	</div>
			    </article>
		    </div>
	    </div>
	</section>
	<section class="menu-other">
		<div class="container-small">
			<div class="section-title">
			    <h2 class="section_title-green">NOS PANIERS convivialité</h2>
			    <p class="section_description">Pour vous simplifier la vie !</p>
			</div>
		    <div class="menu-flexbox">	    		   
			    <article class="menu-other_article">
			    	<h3>Apéro</h3>
			    	<img src="{{ asset('img/menus/apero.jpg')}}" alt="Apéro">
			    	<div class="panier-prix_box">
			    		<span><strong>49 €</strong> le panier / <strong>4</strong> pers.</span>
			    		<a href="{{ path('panier', {'slug' : 'apéro'}) }}" class="menu_button-box white-button">découvrir ce panier</a>
			    	</div>
			    </article>
			    <article class="menu-other_article">
			    	<h3>Brunch</h3>
			    	<img src="{{ asset('img/menus/brunch.jpg')}}" alt="Brunch" id="brunch_img">
			    	<div class="panier-prix_box">
			    		<span><strong>49 €</strong> le panier / <strong>4</strong> pers.</span>
			    		<a href="{{ path('panier', {'slug' : 'brunch'}) }}" class="menu_button-box white-button">découvrir ce panier</a>
			    	</div>
			    </article>
		    </div>
		</div>
	</section>	
    <section class="engagements">
        <div class="container-small">
            <div class="section-title">
                <h2 class="section_title-green">NOS ENGAGEMENTS</h2>
                <p class="section_description">renouer avec les plaisirs gustatifs des produits de notre région !</p>
            </div>
            <img src="{{ asset('img/accueil/local.png') }}" alt="Garantie 100% local" class="engagements_100">
            <div class="engagements_flexbox">
                <div class="engagements_flexbox_box">
                    <p>NOS PRODUITS<br>Des ingrédients de qualité <br> et des recettes accessibles, <br>le tout livré chez vous pour<br> vous simplifier la vie.</p>
                    <a href="#">Lire la suite ></a>
                    <img src="{{ asset('img/accueil/panier_garni.png') }}" alt="Panier engagement">
                </div>
                <div class="engagements_flexbox_box">
                    <img src="{{ asset('img/accueil/producteur.png') }}" alt="Producteur engagement">
                    <p>Des produits de <br> saison issus des <br> PRODUCTEURS locaux.</p>
                    <a href="#">Lire la suite ></a>
                </div>
                <div class="engagements_flexbox_box">
                    <p>Des recettes simples, <br> pour tous les goûts, <br> élaborées par NOS CHEFS.</p>
                    <a href="#">Lire la suite ></a>
                    <img src="{{ asset('img/accueil/chef.png') }}" alt="Chef engagement">
                </div>
            </div>                
        </div>
    </section>
{% endblock %} 
