{% extends "base.html.twig" %}

{% block body %}

	<section id="panier_class" class="first_section">
		<div class="container_small">
			<div class="title_section">
			    <h2>NOTRE PANIER végétarien</h2>
			</div>
		    <div id="box_menu">	    		   
			    <article class="panier_type">
			    	<p>Notre panier végétarien contient tous les ingrédients pour préparer vos repas. <strong>4 repas originaux</strong>, simples et équilibrés.</p>
			    	<img src="{{ asset('img/accueil/local.png')}}" alt="" id="panier_type_local">
			    	<img src="{{ asset('img/menus/menu_veg.png')}}" alt="" id="panier_type_photo">
			    	<div class="panier_what">
			    		<img src="{{ asset('img/menus/produits.png')}}" alt="">
			    		<div class="panier_what_trait"></div>
			    		<img src="{{ asset('img/menus/recettes.png')}}" alt="">
			    		<div class="panier_what_trait"></div>
			    		<img src="{{ asset('img/menus/livreur.png')}}" alt="">
			    	</div>
			    </article>
			    <article class="panier_order">
			    	<div class="prix_paniers">
			    		<p><strong>59 €</strong> (panier pour <strong>2</strong> pers.)</p>
			    		<form action="" class="form_paniers">
			    			<small>Choisissez le nombre de panier</small>
			    			<div id="quantite_panier">
								<a onClick="substract('quantite');">-</a><!--  
							 --><input type="text" value="1" id="quantite" size="2" maxlength="4" onkeypress="return isNumberKey(event);"><!-- 
							 --><a onClick="add('quantite');" >+</a> 			    				
			    			</div>
			    			<div class="styled-select">
								<SELECT name="fonction">
									<option value="" disabled selected style='display:none;'>Choisissez le nombre de personne</option>
									<OPTION VALUE="2">2</OPTION>
									<OPTION VALUE="3">3</OPTION>
									<OPTION VALUE="4">4</OPTION>
									<OPTION VALUE="5">5</OPTION>
									<OPTION VALUE="6">6</OPTION>
								</SELECT>
							</div>
							<div class="styled-select">
								<SELECT name="fonction">
									<option value="" disabled selected style='display:none;'>Choisissez votre fréquence de livraison</option>
									<OPTION VALUE="2">1 / semaine</OPTION>
									<OPTION VALUE="3">2 / semaine</OPTION>
									<OPTION VALUE="4">3 / semaine</OPTION>
								</SELECT>
							</div>
			    			<input type="date" placeholder="Choisissez la date de votre livraison"><img id="lolol" src="{{ asset('img/menus/small_arrow_desc.png')}}" alt="">
			    			<input type="submit" value="AJOUTER A VOTRE COMMANDE">
			    		</form>
			    		<small>A commander jusqu'au 5 juin</small>
			    	</div>
			    </article>
		    </div>
	    </div>
	</section>
	<section id="panier_detail">
		<div class="container_small">
			<div class="title_section">
			    <h2>MENU DE NOTRE PANIER</h2>
			</div>
			<nav class="slider_menu">	
				<ul class="bxslider ">
			    	<li>
						<img src="{{ asset('img/menus/plat1.jpg')}}" alt="" class="photo_plat">
						<div id="plat_detail">			
							<h3>Menu classique semaine du 8 Juin</h3>
							<h4>plat 1 : Navarin de veau</h4>
					    	<div class="plat_what">
					    		<div>
						    		<img src="{{ asset('img/menus/horloge.png')}}" alt="">
						    		<span>Temps de préparation</br>40 mins</span>
					    		</div>
					    		<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/difficulte.png')}}" alt="">
						    		<span>Difficulté</br>Facile</span>
						    	</div>
						    	<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/consistance.png')}}" alt="">
						    		<span>Repas complet</span>
						    	</div>
					    		<div class="plat_what_trait"></div>
					    		<img src="{{ asset('img/menus/aliment.png')}}" alt="">
				    		</div>
					    	<p class="plat_accroche">Un plat léger et réconfortant pour faire le plein de vitamines!</p>	
					    	<p class="plat_description">Un veau parfaitement tendre et des légumes de saison (oignon blanc, pomme de terre charlotte, carotte, navet, thym, persil plat.)</p>
					    	<p class="plat_description">Le + : du veau en directe de la ferme de l’arche, des légumes de saison</p> 
					    	<p class="sel_poivre">Prévoir du sel, du poivre et de l’huile dans votre placard</p>
					    	<img src="{{ asset('img/menus/sel.png')}}" alt="">		
						</div>			    	
			    	</li>
			    	<li>
						<img src="{{ asset('img/menus/plat1.jpg')}}" alt="" class="photo_plat">
						<div id="plat_detail">			
							<h3>Menu classique semaine du 8 Juin</h3>
							<h4>plat 2 : Navarin de veau</h4>
					    	<div class="plat_what">
					    		<div>
						    		<img src="{{ asset('img/menus/horloge.png')}}" alt="">
						    		<span>Temps de préparation</br>40 mins</span>
					    		</div>
					    		<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/difficulte.png')}}" alt="">
						    		<span>Difficulté</br>Facile</span>
						    	</div>
						    	<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/consistance.png')}}" alt="">
						    		<span>Repas complet</span>
						    	</div>
					    		<div class="plat_what_trait"></div>
					    		<img src="{{ asset('img/menus/aliment.png')}}" alt="">
				    		</div>
					    	<p class="plat_accroche">Un plat léger et réconfortant pour faire le plein de vitamines!</p>	
					    	<p class="plat_description">Un veau parfaitement tendre et des légumes de saison (oignon blanc, pomme de terre charlotte, carotte, navet, thym, persil plat.) Le + : du veau en directe de la ferme de l’arche, des légumes de saison</p>
					    	<p class="sel_poivre">Prévoir du sel, du poivre et de l’huile dans votre placard</p>
					    	<img src="{{ asset('img/menus/sel.png')}}" alt="">		
						</div>			    	
			    	</li>
			    	<li>
						<img src="{{ asset('img/menus/plat1.jpg')}}" alt="" class="photo_plat">
						<div id="plat_detail">			
							<h3>Menu classique semaine du 8 Juin</h3>
							<h4>plat 3 : Navarin de veau</h4>
					    	<div class="plat_what">
					    		<div>
						    		<img src="{{ asset('img/menus/horloge.png')}}" alt="">
						    		<span>Temps de préparation</br>40 mins</span>
					    		</div>
					    		<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/difficulte.png')}}" alt="">
						    		<span>Difficulté</br>Facile</span>
						    	</div>
						    	<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/consistance.png')}}" alt="">
						    		<span>Repas complet</span>
						    	</div>
					    		<div class="plat_what_trait"></div>
					    		<img src="{{ asset('img/menus/aliment.png')}}" alt="">
				    		</div>
					    	<p class="plat_accroche">Un plat léger et réconfortant pour faire le plein de vitamines!</p>	
					    	<p class="plat_description">Un veau parfaitement tendre et des légumes de saison (oignon blanc, pomme de terre charlotte, carotte, navet, thym, persil plat.) Le + : du veau en directe de la ferme de l’arche, des légumes de saison</p>
					    	<p class="sel_poivre">Prévoir du sel, du poivre et de l’huile dans votre placard</p>
					    	<img src="{{ asset('img/menus/sel.png')}}" alt="">		
						</div>			    	
			    	</li>
			    	<li>
						<img src="{{ asset('img/menus/plat1.jpg')}}" alt="" class="photo_plat">
						<div id="plat_detail">			
							<h3>Menu classique semaine du 8 Juin</h3>
							<h4>plat 4 : Navarin de veau</h4>
					    	<div class="plat_what">
					    		<div>
						    		<img src="{{ asset('img/menus/horloge.png')}}" alt="">
						    		<span>Temps de préparation</br>40 mins</span>
					    		</div>
					    		<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/difficulte.png')}}" alt="">
						    		<span>Difficulté</br>Facile</span>
						    	</div>
						    	<div>
						    		<div class="plat_what_trait"></div>
						    		<img src="{{ asset('img/menus/consistance.png')}}" alt="">
						    		<span>Repas complet</span>
						    	</div>
					    		<div class="plat_what_trait"></div>
					    		<img src="{{ asset('img/menus/aliment.png')}}" alt="">
				    		</div>
					    	<p class="plat_accroche">Un plat léger et réconfortant pour faire le plein de vitamines!</p>	
					    	<p class="plat_description">Un veau parfaitement tendre et des légumes de saison (oignon blanc, pomme de terre charlotte, carotte, navet, thym, persil plat.) Le + : du veau en directe de la ferme de l’arche, des légumes de saison</p>
					    	<p class="sel_poivre">Prévoir du sel, du poivre et de l’huile dans votre placard</p>
					    	<img src="{{ asset('img/menus/sel.png')}}" alt="">		
						</div>			    	
			    	</li>			    				    	
				</ul>	    		   
			</nav>
		</div>
	</section>	
	<section id="upsell">
		<div class="container_small">
			<div class="title_section">
			    <h2>POUR COMPLéTER VOTRE PANIER</h2>
			    <p>vous aimerez également</p>
			</div>	    		   
			<article>
				<img src="{{ asset('img/menus/brie.jpg')}}" alt="" class="img_upsell">
				<p class="upsell_titre">Notre Brie de Melun</p>
				<p class="provenance">Fromagerie Loiseau <small>(77760 Achère-la-forêt)</small></p>
				<span class="prix_upsell">8,99 € <small>ttc (250g)</small></span>
				<form action="">
					<input type="hidden" value="">
					<input type="submit" class="upsell_add" value="AJOUTER A MA COMMANDE">
				</form>
				<p><a class="next_menu">voir notre sélection de fromages</a><img src="{{ asset('img/menus/arrow_next.png')}}" alt=""></p>
			</article><!-- 
			 --><article>
				<img src="{{ asset('img/menus/creme.jpg')}}" alt="" class="img_upsell">
				<p class="upsell_titre">Notre crème brûlée</p>
				<p class="provenance">Fromagerie Loiseau <small>(77760 Achère-la-forêt)</small></p>
				<span class="prix_upsell">10,99 € <small>ttc (4 pots)</small></span>
				<form action="">
					<input type="hidden" value="">
					<input type="submit" class="upsell_add" value="AJOUTER A MA COMMANDE">
				</form>
				<p><a class="next_menu">voir notre sélection de desserts</a><img src="{{ asset('img/menus/arrow_next.png')}}" alt=""></p>				
			</article><!-- 
			 --><article>
				<img src="{{ asset('img/menus/vin.jpg')}}" alt="" class="img_upsell">
				<p class="upsell_titre">Notre vin des Coteaux de Suresnes</p>
				<p class="provenance">Clos du Pas Saint-Maurice <small>(92150 Suresnes)</small></p>
				<span class="prix_upsell">12,99 € <small>ttc (75cl)</small></span>
				<form action="">
					<input type="hidden" value="">
					<input type="submit" class="upsell_add" value="AJOUTER A MA COMMANDE">
				</form>
				<p><a class="next_menu">voir notre sélection de fromages</a><img src="{{ asset('img/menus/arrow_next.png')}}" alt=""></p>				
			</article>
		</div>
	</section>
	<section id="plat_comment">
		<div class="title_section">
			<h2>nos clients témoignent</h2>
		</div>		
		<img src="{{ asset('img/menus/comment1.jpg')}}" alt="">
		<img src="{{ asset('img/menus/comment2.jpg')}}" alt="">
		<img src="{{ asset('img/menus/comment3.jpg')}}" alt="">
	</section>	

{% endblock %} 
