{% extends "admin/adminbase.html.twig" %}

{% block sidebar_admin %}

<li class="menu_side menu_side_down">
    <a href="{{ path('edit_menu_admin', {'id': 'nouveau'})}}">Nouveau menu</a>
</li>

{% endblock %}

{% block body_admin %}

<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Menu</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Supprimer</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in liste_menu %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.titre }}</td>
                <td>{{ menu.categorie.nom }}</td>
                <td>
                    <form action="{{ path('menu_erase')}}" method="post" onSubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce menu ?');">
                        <input type="hidden" value="{{ menu.id }}" name="erase" >
                        <input type="submit" class="btn btn-danger" value="supprimer" name="supprimer" />
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('edit_menu_admin', {'id': menu.id }) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}
