{% extends "admin/adminbase.html.twig" %}

{% block sidebar_admin %}

<li class="menu_side menu_side_down">
    <a href="{{ path('plat_new') }}">Nouveau plat</a>
</li>

{% endblock %}

{% block body_admin %}

<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Plat</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Accroche</th>
                <th>Supprimer</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for plat in entities %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.titre }}</td>
                <td>{{ plat.accroche }}</td>
                <td>
                    <form action="{{ path('plat_delete', { 'id' : plat.id })}}" method="post" onSubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce plat ?');">
                        <input type="submit" class="btn btn-danger" value="supprimer" name="supprimer" />
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('edit_plat_admin', {'id': plat.id }) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
