{% extends "admin/adminbase.html.twig" %}

{% block sidebar_admin %}

{% endblock %}

{% block body_admin %}

<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Utilisateurs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date</th>
                <th>Supprimer</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in entities %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.subscribedate|localizeddate('medium', 'none', 'fr') }}</td>
                <td>
                    <form action="{{ path('user_delete', {'id' : user.id })}}" method="POST" onSubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce user ?');">
                        <input type="submit" class="btn btn-danger" value="supprimer" name="supprimer" />
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('edit_user_admin', {'id': user.id }) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
