{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caddie list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caddie in caddies %}
            <tr>
                <td><a href="{{ path('mpt_caddie_show', { 'id': caddie.id }) }}">{{ caddie.id }}</a></td>
                <td>{{ caddie.identifiant }}</td>
                <td>{{ caddie.quantite }}</td>
                <td>{{ caddie.prix }}</td>
                <td>{{ caddie.photo }}</td>
                <td>{{ caddie.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mpt_caddie_show', { 'id': caddie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mpt_caddie_edit', { 'id': caddie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpt_caddie_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
