{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caddie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caddie.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ caddie.identifiant }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ caddie.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ caddie.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ caddie.photo }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ caddie.titre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mpt_caddie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mpt_caddie_edit', { 'id': caddie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
